
h1 {
    text-align: center;
    font-family: 'bangers', cursive;
}
h5, p {
    text-align: center;  
}
#menu {
    text-align: center;
}
.containerOfLetters {
    margin: auto;
}
.buttonForLetter {

    display: inline-table;
    vertical-align: middle;
    align-content: center;
    margin: auto;

}


.gameOver {
    -ms-flex-item-align: center;
}